.container {
    width: 905px;
}

@media (max-width: 1440px) {
    .container {
        width: 665px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: auto;
        padding-inline: 50px;
    }
}


@media (max-width: 576px) {
    .container {
        padding-inline: 25px;
    }
}

.wide-container {
    width: 1440px;
}

@media (max-width: 1440px) {
    .wide-container {
        width: 1360px;
    }
}

@media (max-width: 1280px) {
    .wide-container {
        width: 1100px;
    }
}

@media (max-width: 1024px) {
    .wide-container {
        width: auto;
        padding-inline: 50px;
    }
}

@media (max-width: 576px) {
    .wide-container {
        padding-inline: 25px;
    }
}