* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
}

.header-background-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-background {
    width: 100%;
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
}

.header-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    color: hsl(210, 10%, 33%);
    font-size: 39px;
    font-weight: 600;
}

.header-description-wrapper p {
    color: hsl(201, 11%, 66%);
    /*max-width: 72%;*/
    left: 50%;
    transform: translateX(-50%);
}

.actions {
    display: flex;
    gap: 20px;
}

@media (max-width: 1024px) {
    .actions {
        flex-direction: column;
        gap: 0;
    }
}

.actions-btn {
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
    color: #ffffff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
    line-height: 19px;
    margin-top: 20px;
    cursor: pointer;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
}

.ios-btn:hover {
    background-color: hsl(233, 100%, 69%);
    transition: all 0.3s;
}

.mac-btn {
    background-color: hsl(233, 100%, 69%);
}

.mac-btn:hover {
    background-color: hsl(171, 66%, 44%);
    transition: all 0.3s;
}

.hero-section,
.access-clipboard,
.tools-section {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 100px;
}

.hero-section {
    margin-top: 250px;
}

@media (max-width: 1024px) {
    .hero-section {
        margin-top: 200px;
    }
}

.hero-section h2,
.access-clipboard h2,
.tools-section h2,
.download-section h2 {
    color: hsl(210, 10%, 33%);
    font-size: 32px;
    font-weight: 600;
}

.hero-description-wrapper,
.feature-description,
.access-clipboard-description-wrapper,
.tools-section-description-wrapper,
.tool-description-wrapper,
.download-description-wrapper {
    color: hsl(201, 11%, 66%);
    line-height: 30px;
}

.features-section {
    display: flex;
    gap: 100px;
    margin-top: 80px;
    width: 74%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

@media (max-width: 1280px) {
    .features-section {
        gap: 60px;
    }
}

@media (max-width: 1024px) {
    .features-section {
        flex-direction: column;
        align-items: center;
    }
}

.features-section-banner-wrapper {
    width: fit-content;
}

.features-section-banner {
    max-width: 100%;
}

@media (max-width: 1680px) {
    .features-section-banner {
        max-width: 650px;
    }
}

@media (max-width: 1280px) {
    .features-section-banner {
        width: 600px;
    }
}

@media (max-width: 1024px) {
    .features-section-banner {
        max-width: 400px;
    }
}

@media (max-width: 576px) {
    .features-section-banner {
        max-width: 300px;
    }
}

.features-section-content {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 29%;
    justify-content: center;
}

@media (max-width: 1280px) {
    .features-section-content {
        gap: 25px;
    }
}

@media (max-width: 1024px) {
    .features-section-content {
        width: 100%;
        text-align: center;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 30px;
}

.feature-title,
.tool h3 {
    font-size: 27px;
    color: hsl(210, 10%, 33%);
}

@media (max-width: 1280px) {
    .feature-title,
    .tool h3 {
        font-size: 25px;
    }
}

.access-clipboard-image-wrapper {
    margin-top: 70px;
}

.access-clipboard-image-wrapper img {
    width: 100%;
}

@media (max-width: 1024px) {
    .access-clipboard-image-wrapper img {
        max-width: 400px;
    }
}

.tools-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 65px;
    gap: 50px;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

@media (max-width: 1440px) {
    .tools-list {
        padding-inline: 110px;
        gap: 40px;
    }
}

@media (max-width: 1280px) {
    .tools-list {
        gap: 40px;
    }
}

@media (max-width: 1024px) {
    .tools-list {
        grid-template-columns: repeat(1, 1fr);
    }
}


.tool {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.testimonials-section {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1440px) {
    .testimonials-section {
        padding-inline: 40px;
    }
}

@media (max-width: 1024px) {
    .testimonials-section {
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }
}

.testimonials:hover,
.social-icon:hover {
    background-color: hsl(171, 66%, 44%);
    transition: all 0.3s;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
}

footer {
    margin-top: 170px;
    background-color: #F5F6F8;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1680px) {
    .footer {
        padding-inline: 80px;
    }
}

@media (max-width: 1680px) {
    .footer {
        flex-direction: column;
        gap: 40px;
    }
}

.footer-logo {
    width: 70px;
}

.footer-links ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 90px;
}

@media (max-width: 1024px) {
    .footer-links ul {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}

@media (max-width: 1280px) {
    .footer-links ul {
        gap: 20px 50px;
    }
}

.footer-links ul li {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.footer-link:hover {
    color: hsl(171, 66%, 44%);
    transition: all 0.3s;
}

.socials {
    display: flex;
    gap: 20px;
    align-items: center;
}
